@{
    ViewData["Title"] = "Home Page";
    var Top = ViewBag.TopProduct;
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/data/slider/image1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/data/slider/image2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/data/slider/image3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>
<div>
    <p class="h4 text-center">We are dealing with all kind product since 2023.</p>
</div>
@*@foreach(var T in Top){
<div class="card" style="width: 18rem;">
  <img src="@T.Image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@T.Name</h5>
    <p class="card-text">@T.ShortDiscription</p>
    <a href="/Products/Detail?id=@T.Id" class="btn btn-primary">Detail</a>
  </div>
</div>
}*@